h2 {
  display: flex;
  align-items: flex-start;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 11px;
}
h2::before {
  width: 51px;
  height: 17px;
  margin: 3px 2px 0 0;
}
.homebanner-slider {
  & .swiper-slide {
    height: 640px;
    & h1 {
      font-size: 48px;
      line-height: 48px;
    }
    & img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    & p {
      font-size: 24px;
      line-height: 24px;
    }
  }
  & .swiper-slide--container {
    padding: 0px 20px;
  }
}
.about {
  padding: 42px 0 33px;
  &--second {
    padding-top: 0;
  }
  & > .container {
    display: flex;
    flex-direction: column;
  }
  &__box-img {
    opacity: 0;
    width: 0;
    height: 0;
  }
  &__box {
    margin: 0 auto 25px;
  }
  &__box-text {
    margin: 0;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 17px;
  }
  &-video {
    width: 100%;
    height: 202px;
    margin: 0;
    order: 3;
    iframe {
      width: 100%;
      height: 100%;
      min-height: unset;
      min-width: unset;
      border-radius: 0;
    }
  }
  &-features {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 40px;
    background-image: url('../img/media/indexAbout.png');
    background-size: 100% 120%;
    background-position: right bottom;
    background-repeat: no-repeat;
    & > div:first-child {
      max-width: 150px;
    }
    & > div:nth-child(2n+2) {
      max-width: 164px;
    }
  }
  &-features__item {
    margin: 0 auto 18px 0;
    width: auto;
    flex-direction: column;
    &:last-child {
      margin-bottom: 0;
    }
    & span {
      height: auto;
      font-size: 30px;
      line-height: 37px;
      width: 100%;
      margin: 0 auto 2px;
      padding: 0;
      border-right: 0;
      background-repeat: no-repeat;
      background-size: 140px 2px;
      background-image: url('../img/headerDropdownItem.png');
      background-position: left bottom;
    }
    & p {
      width: 100%;
      max-width: 140px;
      font-size: 14px;
      line-height: 90%;
    }
  }
}
.construction {
  padding-bottom: 57px;
  h2 {
    margin: 0 auto 30px 0;
  }
  &-carousel__wrapper {
    padding: 0px 20px 58px;
  }
  &-item {
    max-width: 155px;
    margin: 0 10px 0 0;
    padding: 2px 0 0 2px;
    figure {
      width: 100%;
      max-width: 150px;
      height: 108px;
      margin-bottom: 11px;
      & .figure__stroke {
        stroke-width: 4px;
      }
    }
    &--name {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 11px;
    }
    &--city {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
    &--description {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0;
    }
    &--link {
      display: none;
    }
  }
  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 215.12px;
    width: 100%;
    height: 39.26px;
    background: linear-gradient(90deg, #1A2D57 0%, #3667A1 100%);
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  &-swiper-prev, &-swiper-next {
    display: none;
    left: 0;
    right: 0;
  }
}
.about--second {
  padding-bottom: 57px;
  h2 {
    margin-bottom: 22px;
  }
  & .about__box {
    flex-direction: column;
  }
  & .about__box-text {
    font-size: 14px;
    line-height: 17px;
    max-height: 85px;
    overflow: hidden;
    padding: 0 20px;
    margin: 0 auto 14px;
  }
  & .about__box-img {
    order: -1;
    opacity: 1;
    max-width: 314px;
    width: 100%;
    height: 225px;
    margin: 0 auto 15px;
    & .figure__stroke {
      stroke-width: 3px;
    }
  }
  & .about__box-link--mobile {
    margin: 0 auto;
  }
}
.about--third {
  padding-bottom: 11px;
  .about__box {
    margin: 0 auto 57px;
  }
  .about__box-text {
    max-height: 136px;
    margin: 0 auto;
  }
  .about-features {
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .about-features-item {
    max-width: 150px;
    margin: 0 auto 45px;
  }
  .about-features-item img {
    width: 94px;
    height: 94px;
    margin: 0 auto 20px;
  }
  .about-features-item p {
    font-size: 18px;
    line-height: 22px;
  }
  .about-cities {
    display: none;
  }
}
.guarantee {
  background: transparent;
  padding-bottom: 58px;
  h2 {
    margin-bottom: 24px;
  }
  img {
    max-width: 170px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
  }
  &__box {
    flex-direction: column;
    margin-bottom: 45px;
  }
  &__box-info {
    margin-top: -17px;
    padding: 62px 20px 0 20px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 42px;
      background: linear-gradient(90deg, #1A2D57 0%, #3667A1 100%);
    }
    p:first-child {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 13px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-form {
    padding-top: 123px;
    background-image: url('../img/media/indexForm.png');
    background-repeat: no-repeat;
  }
  &-form p {
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 19px;
    padding: 0 20px;
  }
  &-form__box {
    flex-direction: column;
    margin-bottom: 40px;
    & label {
      max-width: 320px;
    }
  }
}
.about--four {
  padding-bottom: 24px;
  h2 {
    margin-bottom: 32px;
  }
  .about-cities {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0;
  }
  .about-city {
    max-width: 155px;
    width: 100%;
    height: 130px;
    margin: 0 10px 33px 0;
    & img {
      width: 100%;
      height: 100%;
      max-height: 110px;
      margin-bottom: 0;
    }
    & p {
      font-size: 14px;
      line-height: 17px;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  .about--btn {
    display: none;
  }
}
.blog {
  margin: 0;
  padding-bottom: 51px;
  h2 {
    margin-bottom: 21px;
  }
  &-items {
    padding: 0 20px;
  }
  &-item {
    margin-bottom: 20px;
    figure {
      min-width: unset;
      max-width: 72px;
      width: 100%;
      height: 78.5px;
      margin-right: 10px;
    }
    &__box p{
      max-width: 236px;
      width: 100%;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
      max-height: 102px;
      overflow: hidden;
      &:first-child {
        font-size: 18px;
        line-height: 22px;
      }
    }
    .about--btn {
      margin-left: -30px;
    }
  }
}
.footer {
  padding: 33px 0 20px;
  & .container {
    padding: 0 20px;
    flex-direction: column;
    > a {
      padding: 0;
      font-size: 14px;
      line-height: 17px;
    }
    .footer-social--mobile {
      max-width: 203px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 17px 0 0 0;
      margin: 0 auto 45px;
    }
  }
  &-column {
    margin-bottom: 13px;
    &:first-child {
      li {
        margin-bottom: 3px;
      }
    }
    li {
      margin-bottom: 6px;
    }
    &:nth-child(2) {
      margin-bottom: 21px;
    }
    &:nth-child(3) {
      p:last-child {
        font-size: 14px;
        line-height: 17px;
      }
    }
    li:last-child {
      margin: 0;
    }
    li > a {
      font-size: 14px;
      line-height: 17px;
    }
    p:first-child {
      font-size: 18px;
      line-height: 38px;
      margin: 0;
    }
  }
  &-column > img:first-child{
    max-width: 140px;
    width: 100%;
    height: 40px;
    margin-bottom: 27px;
  }
  &-column li > a {
    font-weight: 300;
  }
  &-column .footer-social {
    display: none;
  }
}