footer.footer
	.container
		.footer-column
			img(src="/assets/img/logo-light.svg", alt="")
			ul
				li
					a(href="") О нас
				li
					a(href="") Контакты
				li
					a(href="") Вакансии
				li
					a(href="") Портфолио
			.footer-social
				.footer-social--link
					img(src="/assets/img/footer-inst.svg", alt="")
				.footer-social--link
					img(src="/assets/img/footer-inst.svg", alt="")
				.footer-social--link
					img(src="/assets/img/footer-inst.svg", alt="")
		.footer-column 
			p Наши услуги
			ul
				li
					a(href="") Проектирование
				li
					a(href="") Строительство
				li
					a(href="") Монтаж инженерных сетей
				li
					a(href="") Обслуживание инженерных сетей
				li
					a(href="") Услуги подрядной организации
		.footer-column
			p Наши контакты
			p ФОП Lorem Ip. Sum. #[br] Київ, Lorem ipsum #[br] +38 (099) 999-99-99 #[br] lorem@ipsum.com #[br] Пн - Пт 9:00 - 18:00
	.container
		a(href="") Лицензия № Sagittis ac libero elit amet consectetur mi.
script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
script(src = "assets/js/scripts.min.js")