<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic", rel="stylesheet")
		link(href="https://necolas.github.io/normalize.css/latest/normalize.css", rel="stylesheet")
		link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
		link(rel="stylesheet", href = "assets/css/main.min.css")
		title Start
	body
		header.header
			img(src="assets/img/logo.svg", alt="")
			.header__box
				.header-contact
					.header-contact__box
						p +38 (093) 980-79-19
						p +38 (096) 566-57-32
					.header-contact__box
						p ул. Феодоры Пушиной, дом 8А, #[br] офис 618, г. Киев, 03115
					.header-contact__box
						p Ежедневно #[br] с 9:00 до 22:00
					.header-lang__box(style="opacity:0")
						a(href="") RU
						| |
						a(href="") UA
				nav.header-nav
					ul
						li
							a(href="") О нас 
						li
							a(href="") Портфолио
						li
							a(href="") Услуги
							ul.header-nav__dropdown
								li
									a(href="") Проектирование
									ul.header-nav__submenu
										li
											a(href="") Проектирование под ключ 
										li
											a(href="") Конструктивное проектирование
										li
											a(href="") Дизайнерское проектирование
										li
											a(href="") Инженерное проектирование
								li
									a(href="") Строительство
								li
									a(href="") Монтаж инженерных сетей
									ul.header-nav__submenu
										li
											a(href="") Канализация
										li
											a(href="") Водопровод
										li
											a(href="") Отопление
										li
											a(href="") Электрика
										li
											a(href="") Системы Теплый пол
										li
											a(href="") Энергоэффективность домов
								li
									a(href="") Обслуживание инженерных сетей
									ul.header-nav__submenu
										li
											a(href="") Канализация
										li
											a(href="") Водопровод
										li
											a(href="") Отопление
										li
											a(href="") Электрика
										li
											a(href="") Системы Теплый пол
										li
											a(href="") Энергоэффективность домов
								li
									a(href="") Услуги подрядной организации
									ul.header-nav__submenu
										li
											a(href="") Проектирование домов, ЖК
										li
											a(href="") Согласование инженерных планов
										li
											a(href="") Помошь получения разрешительных документов
						li
							a(href="") Вакансии
						li
							a(href="") Контакты