include components/header.pug
main
	section.about-us
		.container
			h2 О нас
			.about-us__box
				p Приветствуем Вас на сайте компании Финансовый Будівельний Холдинг - это команда профессионалов, желающих свою работу и успешно ее выполняющих. Мы решаем различные задачи в сфере инженерных сетей. Наша команда ведет работу, затрагивающую все основные сферы коммунального хозяйства города, области. Всегда готовы прийти на помощь и гарантировать качественную работу. #[br]#[br] Строительство, проектирование, монтаж и обслуживание систем отопления, водоснабжения, канализации, вентиляции и электросетей. Планировка квартир должна быть удобной и максимально выгодной для проживания. Физический комфорт играет немаловажную роль — звукоизоляция, тепло, влажность, вентиляция должны быть в должном виде и высокого качества. #[br]#[br] Также важна общественная инфраструктура — на первых этажах жилых домов могут размещаться рестораны, магазины, спортзалы, химчистки, детские центры.
				img(src="assets/img/logo.svg", alt="")
			iframe(width='560' height='315' src='https://www.youtube.com/embed/4xyb_tA-uw0' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
	section.history
		.container
			h2 История
			.history__box
				p Компания создана в 2011 году, наша специализация: монтажные работы, обслуживание, капитальный ремонт внутренних и наружных сетей отопления, водопровода и канализации. Работаем с различными материалами. #[br]#[br]Наша компания развивается очень активно, и на данный момент насчитывается более 70 различных специалистов. Работаем с видимым, который выбирает заказчик. #[br]#[br] Все покупатели и поставщики имеют все пожелания заказчика. #[br]#[br] Все виды деятельности компании лицензированы. "Фінансовий Будівельний Холдинг" также обслуживает ОСМД, различные кооперативы, коттеджные городки, загородные дома, многоэтажные дома на территории Киева, а также Киевской области.
	section.documents
		.container
			h2 Документы
			.documents__box
				p На каждом этапе организации ОСМД требуется выполнение различных действий и составление множества документов.
				ul
					li Организация ОСМД начинается с обхода дома инициативной группой, для этого необходимы:
					li Полный список владельцев жилых и не жилых помещений
					li Опросный лист
					li Информационный лист о месте, времени и цели собрания
				ul
					li После обхода происходит само собрание, необходимы такие документы:
					li Опросный лист
					li Информационный лист
					li Полный список владельцев жилых и не жилых помещений
					li Устав ОСМД
				p В итоге собрания принимается решение о создании ОСМД и его государственной регистрации.
				ul
					li Понадобятся такие документы:
					li Опросный лист
					li Протокол инициативной группы
					li Информационный лист
					li Оригинал протокола собрания
					li Полный список владельцев жилых и не жилых помещений
					li устав ОСМД
			.documents__box--second
				p #[b Цель нашей работы] - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus lacus quam habitasse pulvinar sed sit. Ac semper tellus sed nibh. Volutpat mi quam lacus enim dictumst amet eu.
				img(src="assets/img/documents-img.svg", alt="")
	section.team
		.container
			h2 Команда
		img(src="", alt="")
		.container
			p.team-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget et facilisis malesuada amet, gravida leo at fermentum. A sed faucibus tortor semper. Consequat ligula molestie aliquam eget ligula porttitor dictumst. Tincidunt convallis vestibulum ut eu vitae commodo. Feugiat scelerisque pulvinar urna, tincidunt vulputate ac. Tellus suspendisse sit sit lectus fermentum diam, velit vulputate. Nam ultrices in in facilisis odio ut laoreet.
			.team-items
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
				.team-item
					img(src="", alt="")
					p Condimentusapien sit.
					p Non feugiat vitae nibh aliquam.
	section.partners.about--third
		.container
			h2 С кем работаем
			.about-cities
				.about-city
					img(src="assets/img/about-city.jpg", alt="")
					p ЖК "LIFE"
				.about-city
					img(src="assets/img/about-city.jpg", alt="")
					p ЖК "LIFE"
				.about-city
					img(src="assets/img/about-city.jpg", alt="")
					p ЖК "LIFE"
				.about-city
					img(src="assets/img/about-city.jpg", alt="")
					p ЖК "LIFE"
include components/footer.pug