include components/header.pug
main
  section.jobs-post
    .container
      h2 Сантехник
      .jobs-posts
        .jobs-post-item
          img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
        .jobs-post-item
          img(src="https://i.ibb.co/RHww9LF/plumber-with-his-arms-crossed-1368-515-1.png", alt="")
        .jobs-post-item
          img(src="https://i.ibb.co/RHww9LF/plumber-with-his-arms-crossed-1368-515-1.png", alt="")
        .jobs-post-item
          img(src="https://i.ibb.co/RHww9LF/plumber-with-his-arms-crossed-1368-515-1.png", alt="")
        .jobs-post-item
          img(src="https://i.ibb.co/RHww9LF/plumber-with-his-arms-crossed-1368-515-1.png", alt="")
      .jobs-post-content
        .jobs-post-content-item
          img(src="assets/img/jobsIcon.svg", alt="")
          p.jobs-post-content-item-title Coniment
          p Non feugiat vitae nibh aliquam.
        .jobs-post-content-item
          img(src="assets/img/jobsIcon.svg", alt="")
          p.jobs-post-content-item-title Coniment
          p Non feugiat vitae nibh aliquam.
        .jobs-post-content-item
          img(src="assets/img/jobsIcon.svg", alt="")
          p.jobs-post-content-item-title Coniment
          p Non feugiat vitae nibh aliquam.
        .jobs-post-content-item
          img(src="assets/img/jobsIcon.svg", alt="")
          p.jobs-post-content-item-title Coniment
          p Non feugiat vitae nibh aliquam.
        .jobs-post-content-item
          img(src="assets/img/jobsIcon.svg", alt="")
          p.jobs-post-content-item-title Coniment
          p Non feugiat vitae nibh aliquam.
  section.jobs-post--guarantee.services-post--guarantee.guarantee
    .container
      form.guarantee-form
        p Оставьте заявку, заполнив форму ниже
        .guarantee-form__box 
          label
            input(type="text" placeholder="ФИО*")
          label
            .select-box
              select
                option(value="" selected disabled) Должность
                option(value="") Сантехник
                option(value="") Сантехник
                option(value="") Сантехник
          label
            input(type="text" placeholder="Телефон*")              
          label
            input(type="text" placeholder="E-mail*")
        input(type="submit" value="Отправить заявку")
include components/footer.pug