include components/header.pug
main
  section.jobs
    .container
      h2 Вакансии
      .jobs-items#randomParentLine
        .jobs-item
          .jobs-item-img
            include ../assets/img/itemSVG.svg
            img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
          p.jobs-item-title Сантехник
          p Non feugiat vitae nibh aliquam.
        .jobs-item
          .jobs-item-img
            include ../assets/img/itemSVG.svg
            img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
          p.jobs-item-title Сантехник
          p Non feugiat vitae nibh aliquam.
        .jobs-item
          .jobs-item-img
            include ../assets/img/itemSVG.svg
            img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
          p.jobs-item-title Сантехник
          p Non feugiat vitae nibh aliquam.
        .jobs-item
          .jobs-item-img
            include ../assets/img/itemSVG.svg
            img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
          p.jobs-item-title Сантехник
          p Non feugiat vitae nibh aliquam.
        .jobs-item
          .jobs-item-img
            include ../assets/img/itemSVG.svg
            img(src="https://i.ibb.co/28GWJbK/horizontal-portrait-of-successful-hard-working-young-female-and-male-technicians-work-as-friendly-te.png", alt="")
          p.jobs-item-title Сантехник
          p Non feugiat vitae nibh aliquam.
include components/footer.pug