include components/header.pug
main
  section.portfolio
    .container
      h2 Портфолио
      .portfolio__box
        .portfolio-category
          ul
            li.active
              a(href="") Все
            li 
              a(href="") Проектирование
            li 
              a(href="") Строительство
            li 
              a(href="") Монтаж инженерных сетей
            li 
              a(href="") Обслуживание инженерных сетей
            li 
              a(href="") Услуги подрядной организации
        .portfolio-items.about-cities.about--third
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
          .portfolio-item.about-city
            p.portfolio-item--hidden Полный комплекс строительных работ, функция генерального подрядчика
            img(src="assets/img/about-city.jpg", alt="")
            p ЖК "life"
include components/footer.pug