include components/header.pug
section.services
    .container 
        h2 Услуги
        .services-items
            .services-item
                include ../assets/img/servicesItemSVG.svg
                .services-item__box
                    p Проектирование
                    p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Egestas entum 
                    a(href="").about--btn Подробнее
            .services-item
                include ../assets/img/servicesItemSVG.svg
                .services-item__box
                    p Проектирование
                    p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Egestas entum 
                    a(href="").about--btn Подробнее
            .services-item
                include ../assets/img/servicesItemSVG.svg
                .services-item__box
                    p Проектирование
                    p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Egestas entum 
                    a(href="").about--btn Подробнее
            .services-item
                include ../assets/img/servicesItemSVG.svg
                .services-item__box
                    p Проектирование
                    p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Egestas entum 
                    a(href="").about--btn Подробнее
            .services-item
                include ../assets/img/servicesItemSVG.svg
                .services-item__box
                    p Проектирование
                    p Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Egestas entum 
                    a(href="").about--btn Подробнее
include components/footer.pug