include components/header.pug
main
  section.service-osbb.about.about--second
    .container
      h2 Обслуживание ОСББ
      .about__box
        .about__box-text
          | В капитальном строительстве на начальном этапе всегда стоит глубокая разработка и дальнейшая реализация проектного решения. Особенно такое касается инженерных сетей. Это аксиома, без выполнения которой немыслимо начинать дело. Именно грамотная и максимально проработанная проектно-сметная документация является той основой, от которой зависит успешная реализация задуманного. Ведь без оценочных сведений о стоимости будущего объекта нельзя реально рассчитать объем предстоящих капитальных вложений. #[br]Высококлассные специалисты нашей компании занимаются разработками внешних и внутренних проектов. #[br]Этим на высоком профессиональном уровне занимаются специалисты ТОВ "Фінансовий Будівельний Холдинг".
          a(href="").about__box-link Подробнее
        .about__box-img
          include ../assets/img/itemSVG.svg
      .about-features
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
        .about-features-item
          img(src="assets/img/iconAboutFeaturesItem.svg", alt="")
          p Аварийное обслуживание
  section.service-osbb--third.about--third
    .container
      h2 С кем работаем
      .about-cities
        .about-city
          img(src="assets/img/about-city.jpg", alt="")
          p ЖК "LIFE"
        .about-city
          img(src="assets/img/about-city.jpg", alt="")
          p ЖК "LIFE"
        .about-city
          img(src="assets/img/about-city.jpg", alt="")
          p ЖК "LIFE"
        .about-city
          img(src="assets/img/about-city.jpg", alt="")
          p ЖК "LIFE"
include components/footer.pug