include components/header.pug
main
	section.services-category
			.container 
					h2 Проектирование
					.services-category__box
							include ../assets/img/itemSVG.svg
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. At ipsum nullam tristique ipsum non mattis enim rhoncus. Est est urna, sed sed ullamcorper blandit vitae enim aliquam. Aliquam mauris, fringilla nibh suspendisse consectetur commodo, platea. Maecenas nunc, egestas dolor mi urna, proin venenatis. Faucibus nunc scelerisque proin volutpat pellentesque. Nisi at dignissim scelerisque facilisi. Euismod dignissim et risus, sed eget auctor diam placerat. Ullamcorper sem vitae non quam. Imperdiet ullamcorper condimentum scelerisque dignissim odio elementum.
					.services-category-items.services-category-items--row
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
							.services-category-item
									include ../assets/img/itemSVG.svg
									p.services-category-item--title Проектирование под ключ
									p.services-category-item--info Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, nemo suscipit. Similique aliquid cupiditate cumque ipsa veniam accusamus. Maxime, perferendis?
									a(href="").about--btn Подробнее
include components/footer.pug