@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueCyr.ttf');
}

*,
*::before,
*::after {
	font-family: 'Montserrat';
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Montserrat';
	font-weight: 400;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
}
.figure__svg {
	overflow: visible;
}
// Подключение компонентов
@import 'components/header';
@import 'components/footer';
// Подключение страниц
@import 'components/pages/index';
@import 'components/pages/about-us';
@import 'components/pages/contacts';
@import 'components/pages/services';
@import 'components/pages/services-category';
@import 'components/pages/services-post';
@import 'components/pages/service-osbb';
@import 'components/pages/portfolio';
@import 'components/pages/cooperation';
@import 'components/pages/jobs-post';
@import 'components/pages/jobs';
// Подключение адаптива
@media screen and (max-width: 1200px) {
	@import 'components/media/header';
	@import 'components/media/index-1200';
	@import 'components/media/footer';
}