.service-osbb {
  padding-top: 64px;
  padding-bottom: 15px;
  h2 {
    margin-bottom: 100px;
  }
  .about__box {
    margin: 0 auto 75px;
  }
  .about-features {
    max-width: 965px;
    margin: 0 auto;
    flex-wrap: wrap;
    &-item {
      max-width: 210px;
      margin: 0 auto 85px;
      text-align: center;
      img {
        margin: 0 auto 20px;
      }
      p {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #1E1E1E;
      }
    }
  }
  &--third {
    padding-bottom: 100px;
  }
}